<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/email" method="post">
  <input type="email" name="email" placeholder="Enter email">
  <input type="submit" value="Submit">
</form>

<ul>
  {{#each leads}}
  <li data-id='{{id}}'>{{email}}</li>
   {{/each}}
</ul>